<template>
  <div class="step-pagination">
    <button @click.prevent="previousStep" v-if="step > minSteps">Prev</button>
    <button @click.prevent="nextStep" v-if="step < maxSteps">Next</button>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'FormStepPagination',
  computed: {
    ...mapGetters({
      step: 'forms/step',
      minSteps: 'forms/minSteps',
      maxSteps: 'forms/maxSteps'
    })
  },
  methods: {
    ...mapActions({
      nextStep: 'forms/nextStep',
      previousStep: 'forms/previousStep'
    }),
  }
}
</script>
