<template>
  <form @submit.prevent="submit">
    <GenericFormStepOne v-if="step === 1"/>
    <GenericFormStepTwo v-if="step === 2"/>

    <div v-if="step === 3" class="step step-2">
      step 3
    </div>

    <div v-if="step === 4" class="step step-2">
      step 4
      <button type="submit">done</button>
    </div>

    <FormStepPagination/>

    <pre>{{step}}</pre>
    <pre>{{form}}</pre>
  </form>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import FormStepPagination from './FormStepPagination'
import GenericFormStepOne from './generic-form/step-1'
import GenericFormStepTwo from './generic-form/step-2'

export default {
  name: 'GenericForm',
  components: {
    GenericFormStepTwo,
    GenericFormStepOne,
    FormStepPagination
  },
  computed: {
    ...mapGetters({
      step: 'forms/step',
      form: 'forms/form'
    })
  },
  methods: {
    ...mapActions({
      resetFormFields: 'forms/resetFormFields',
      setMaxSteps: 'forms/setMaxSteps',
    }),
    submit () {
      console.log(this.form)
    }
  },

  mounted () {
    this.setMaxSteps(4)
    this.resetFormFields()
  }
}
</script>
