<template>
  <div class="home">
    <GenericForm/>
  </div>
</template>

<script>
import GenericForm from '../components/form/GenericForm'

export default {
  name: 'HomeView',
  components: {
    GenericForm
  }
}
</script>
