<template>
  <div>
    <FormTextControl
        label="Address"
        placeholder="123 anywhere street"
        :value="form.address"
        @input="(value) => update('address', value)"
    />
  </div>
</template>

<script>
import FormTextControl from '../controls/FormTextControl'
import stepMixin from './step-mixin'

export default {
  name: 'GenericFormStepTwo',
  components: {
    FormTextControl
  },
  mixins: [
    stepMixin
  ]
}
</script>
