<template>
  <div class="step step-1">

    <FormTextControl
        label="First name"
        placeholder="John"
        :value="form.first_name"
        @input="(value) => update('first_name', value)"
    />

    <FormTextControl
        label="Last name"
        placeholder="Smith"
        :value="form.last_name"
        @input="(value) => update('last_name', value)"
    />

    <FormTextControl
        label="email"
        placeholder="john.smith@example.com"
        :value="form.email"
        @input="(value) => update('email', value)"
    />

  </div>
</template>

<script>
import stepMixin from './step-mixin'
import FormTextControl from '../controls/FormTextControl'

export default {
  name: 'GenericFormStepOne',
  components: {
    FormTextControl
  },
  mixins: [
    stepMixin
  ]
}
</script>
