<template>
  <div class="field">
    <div class="field__label">
      <label :for="controlId">{{label}}</label>
    </div>
    <div class="field__input">
      <input
          :type="type"
          :id="controlId"
          :name="name"
          :placeholder="placeholder"
          :required="required"
          :value="value"
          @input="(event) => $emit('input', event.target.value)"
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormTextControl',
  props: {
    value: {
      type: String
    },
    label: {
      type: String
    },
    name: {
      type: String
    },
    placeholder: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean
    },
    type: {
      type: String,
      default: 'text'
    }
  },
  data () {
    return {
      controlId: null
    }
  },
  mounted () {
    this.controlId = `input-${this._uid}`
  }
}
</script>
